
@import './../../index.scss';

.service{
    background-color:  $backgrounColor;
    padding: 4rem;
    height: auto;

    
}

.para1{
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: 700;
    color: #1e1e1e;

    @include responsive(tab){
        font-size: 3rem;
    }
    @include responsive(phone){
        font-size: 2.5rem;
    }

}
.para2{
    color: #4e4e4e;
    font-size: 1.7rem;
   
}

.line{
    width: 40px;
    height: 5px;
    background-color: #0078ff;
    margin:30% auto ;
    margin-top: 0px;
    margin-bottom: 0px;

    @include responsive(tab){
        width: 40px;
        height: 2px;
    }
}


