@import './../../index.scss';

.contact{
    height: 100vh;
    background-image: linear-gradient(to right bottom , $backOverlay, $backOverlay) ,url('./../../assets/img/overlay-bg.jpg');
    background-position: top;
    background-size: cover;
    padding-top: 5rem;

    @include responsive(tab){
        height: auto;
        padding: 4rem;

    }

    @include responsive(phone){
        padding: 2rem;
    }
}

.body{
    background-color: $primary-color;  
    height: auto;
    padding: 30px;


}

.contact_text{
    display: block;

    &_main{
        font-size: 30px;
        font-weight: 600;

        @include responsive(tab){
            font-size: 25px;
        }
    }


    &_sub{
        width: 90px;
        height: 3px;
        background-color: #0078ff;
        @include responsive(tab){
            width: 80px;
        }

    }
}

// form

form{
    padding-top: 30px;
}

.input{
    height: 40px !important;
}

.text_area{
    height: 120px !important;
}
.btn{
    @include responsive(phone){
        margin-bottom: 30px !important;
    }
}

// get in touch
.para1{
    @extend form;
    font-size: 1.8rem;
    font-weight: 300;
    text-align: justify;
    padding-bottom: 10px;

    @include responsive(tab){
        font-size: 1.5rem;
    }
   
}


.para2{
    display: flex;
    font-size: 1.5rem;
    padding-bottom: 10px;
    @include responsive(tab){
        font-size: 1.4rem;
        font-weight: 400;
    }


    &_logo{
        margin-right: 20px;
        color: #0078ff !important;
        
    }





    &_text{
        flex: 1;
    }
}


.logo{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    width: 100%;
}


.logos{
    margin-right: 30PX;
    padding: 10px;
    border: 3px solid #0078ff;
    border-radius: 100px;
    color: #1e1e1e;

    &:hover{
        background-color: #6610f2;
        transition: .5s;
        color: white;
        border-color: rgba(255, 255, 255, 0.76);
    }
}

.errorMsg{
    font-size: 14px;
    color: red;

    @include responsive(tab){
        font-size: 12px;
    }
}


// footer 

.footer{
    text-align: center;
    color: #fff;
    padding: 25px 0;
    background: #0062d3;
    // opacity: .7;


    &_text{
        font-size: 2rem;
        @include responsive(tab){
            font-size: 1.6rem;
        }
 
   }




   &_text1{
    font-weight: bold;
   }
}
