@import '../../index.scss';

.banner{
    height: 100vh;
    background-image:linear-gradient(to right bottom, rgba(0,0,0,.5),rgba(0,0,0,.5)) ,url('./../../assets/img/hero-bg.jpg');
    background-position: center;
    text-align: center;
    color: #fff;

    @include responsive(tab){
        background-position: center;

    }
    @include responsive(phone){
        background-position: center;

    }
}
.texts{
    padding-top: 10%;
    @include responsive(tab){
        padding-top: 20%;
    }
    @include responsive(phone){
        padding-top: 32%;
    }
}
.para1{
    font-size: 6.3rem;
    font-weight: 650;

    @include responsive(tab){
        font-size: 4.5rem;
    }
    @include responsive(phone){
        font-size: 3.5rem;
    }

}

.para2{
    font-size: 2.5rem;
    font-weight: 600;

    @include responsive(tab){
        font-size: 2rem;
    }
    @include responsive(phone){
        font-size: 1.8rem;
    }
}

