@import '../../index.scss';

.banner{
    height: 100vh;
    background-image:linear-gradient(to right bottom, rgba(0,0,0,.5),rgba(0,0,0,.5)) ,url('./../../assets/img/hero-bg.jpg');
    background-position: center;
    text-align: center;
    color: #fff;

    @include reponsive(tab){
        background-position: center;
    }
}
.texts{
    padding-top: 40%;
    @include reponsive(tab){
        padding-top: 50%;
    }
    @include reponsive(phone){
        padding-top: 90%;
    }
}
.para1{
    font-size: 4.5rem;
    font-weight: 600;

    @include reponsive(tab){
        font-size: 3rem;
    }

}

.para2{
    font-size: 2.5rem;
    font-weight: 600;

    @include reponsive(tab){
        font-size: 1.5rem;
    }
}