@import "./../../index.scss";

.header {
  display: flex;
  padding: 1rem 3rem;
  justify-content: space-between;
  overflow-x: hidden;
  background-color: $overlay-color;
  color: $primary-color;
}
.nav_title {
  font-weight: 700;
  font-size: 2rem;
  cursor: pointer;
}

.nav_item {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-left: 4rem;
  flex-wrap: wrap;

  .nav_link {
    font-size: 12px;
    font-weight: 500;
    margin-right: 2rem;
    @extend .hideOnMobile;
  }
  
}
.nav_icon{
  @extend .hideOnDesktop;
}




.drawer{
    padding: 4rem 3rem;
    
    .response_link{
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 15px;
        color: black;
    }
}