.card_head{
    font-size: 2.5rem !important;
    color: #1e1e1e;
}

.text{
    display: flex;
    height: auto;
    font-size: 1.5rem;
    padding-top: 10px;
}
.title{
    color:#0078ff;;
}
.date{
    color: #4e4e4e;
    
}
.logo{
    flex: 1;
    padding-left: 140px;
    margin-top: -20px;
    color: #0078ff;
    text-decoration: none;
    transition: all 0.5s ease-in-out
}

.img:hover{
    transform: scale(1.05);
    transition: all 1s ease-in-out

}